body {
  margin: 5px;
  background-color: white !important;
  user-select: none;
  width: 300px;
  height: 550px;
  display: flex;
  flex-direction: column;
}

#scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
  overflow-x: hidden;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #d3d3d3;
}

#scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 18px;
  color: black;
}

h2 {
  margin-left: 16px;
  margin-top: 5px;
  margin-bottom: 5px;

  color: grey;
  font-weight: 500;
}

h3 {
  font-size: small;
  font-weight: normal;
  color: black;
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #d4d4d4;
  margin: 0 5px;
  padding: 0;
}

p {
  font-size: medium;
}

.bold {
  font-weight: bold;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.copyText {
  font-size: larger;
  color: white;
  font-weight: 500;
}

.nav {
  padding: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  margin: 0px 4px 4px 8px;
}

.scrollSection {
  overflow-y: scroll;
  height: 460px;
}

.scrollSectionHr {
  margin-bottom: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  fill: aqua;
}

.navicon {
  margin-top: 5px;
  border: none;
  background-color: white;
}

.naviconimg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

button {
  cursor: pointer;
}

.coloredButton {
  background-color: #8f55d9;
  border: none;
  border-radius: 8px;
  padding: 2px 24px;
}

.coloredButton:hover {
  background-color: #a562fc;
}

.whiteButton {
  background-color: white;
  border: 2px solid #8f55d9;
  border-width: 2px;
  border-radius: 8px;
  padding: 2px 16px;
  color: #8f55d9;
}

.footer {
  padding: 4px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px 12px 12px 12px;
}

#clearButton {
  background-color: #8f55d9;
  border: none;
  border-radius: 8px;
  padding: 4px 24px;
}

#clearButton:hover {
  background-color: #a562fc;
}

.buttonText {
  color: white;
  font-size: medium;
}

#clipboard {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 16px;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.saveText {
  margin: 24px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

#saveButton {
  background-color: #8f55d9;
  border: none;
  border-width: 2px;
  border-radius: 8px;
  padding: 2px 16px;
  color: white;
  cursor: pointer;
}

#saveButton:hover {
  background-color: #a562fc;
}

input {
  background-color: white;
  border: 2px solid #8f55d9;
  border-width: 2px;
  border-radius: 8px;
  padding: 2px 16px;
  color: black;
  width: 150px;
  margin: 8px 0 16px 0;
}
